{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- ICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/icon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/icon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/icon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/icon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/icon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/icon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/icon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" media="all">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" media="all">

    <!-- Title -->
    <title>E Shop | {{ current_category }} </title>
</head>
<body>
<main class="container bg-white rounded-top shadow-lg">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white">
            <div class="container-fluid p-0">
                <a class="navbar-brand text-uppercase fw-800" href="/">
                    <img src="https://pbs.twimg.com/media/CyGXXiZWEAEznfZ.png" alt="e-shop logo" width="150">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav"
                        aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="myNav">
                    <div class="navbar-nav ms-auto">
                        {% for category in all_category %}
                            {% if current_category == category %}
                            <a class="nav-link active" href="../category/{{ category.id }}">{{ category }}</a>
                            {% else %}
                            <a class="nav-link" href="../category/{{ category.id }}">{{ category }}</a>
                            {% endif %}
                        {% endfor %}
                        <a href="/user_cart"><i class="fad fa-shopping-cart"></i></a>
                    </div>
                </div>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 pl-5" role="search">
                    <input type="search" class="form-control" placeholder="Найти..." aria-label="Search">
                </form>
            </div>
        </nav>
    </header>


    <section class="new-products">
        <div class="row">
            <h1 class="fw-light d-flex justify-content-center">Товары по категории {{ current_category }}</h1>
            {% for product in category_product %}
                <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">

                    <div class="product">
                        <img src="{% static 'img/no-image.svg' %}" alt="{{ product.product_name }}">
                        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
                            <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
                            <li class="icon mx-3"><span class="far fa-heart"></span></li>
                            <li class="icon"><span class="fas fa-shopping-bag"></span></li>
                        </ul>
                    </div>

                    <div class="title pt-4 pb-1">
                        <a href="../product/{{ product.product_name }}">{{ product.product_name }}</a>
                    </div>
                    <div class="d-flex align-content-center justify-content-center">
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                        <span class="fas fa-star"></span>
                    </div>
                    <div class="price">{{ product.product_price }} UZS</div>
                </div>
            {% endfor %}

        </div>
    </section>

    <footer class="bg-light text-center text-white">

        <!-- Copyright -->
        <div class="text-center p-3">
            <a class="text-black-50" href="/">© {% now "Y" %} E-shop</a>
        </div>
        <!-- Copyright -->
    </footer>

</main>


<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>